*{
  margin: 20;
  padding: 20;
  font-family: sans-serif;
}

body {
  margin: 20;
  padding: 20;
  background: url("./pic/Welcome\ To\ Ifound\ App.png") no-repeat; 
  background-size: cover;

 
}
.App {
  height: 100vh;
}

form{
  background:rgb(187, 166, 125);
  border-radius: 10px 40px;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: right;
  margin: 50px;
  padding: 40px;
;
 
  
}
.form h1{
  border: 0px 0px -2px 0px;
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #ffffff;
  margin-bottom: 50px;
  padding: 13px 10px;
  background: white;

}

input{
  box-shadow: 2px solid rgb(29, 28, 28);
  /* color:solid white; */
  width: 100%;
  overflow: hidden;
  border: 0px 0px -2px 0px;
  font-size: 19px;
  padding: 15px 0px;
  margin: 8px 0;
  outline: none; 
  background: none;
  
}

button{
 
  background: none;
  border: 2px solid#ffffff;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
  transition: 0.8s;
}

.btn-primary{
  color: black;
}

.btn-3, .btn-5 {
  color:black;
  float: right;
}

.btn-3 :hover{
  color:#073577;
  
}
.btn-5 :hover{
  color:#073577;
  
}
.btn-primary:hover{
  color: #073577;
}

.btn-1{
  float:right;
  color: rgba(167, 164, 158, 0.63);
}
.btn-2{
  float:right;
  color:rgba(167, 164, 158, 0.63);
}
.btn-3, .btn-5 {
background-color: rgb(192, 189, 189);
}

.btn-4:hover {
 background-color:#073577;
}

.btn-6:hover {
  background-color:#073577;
 }

 .niv{
   display: flex;
   flex-direction: row;
    align-items: center;
   justify-content: center; 
   color: #073577;
   background: white;
   margin: 30px;
 }

 .one{
   display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
 }
 .two{
   float: right;
  color: #073577;
  background: white;
  padding: 0px;
  margin: 15px;
 }
.three{
  margin: 15px;
}
 .this{
   cursor: pointer;
   margin: 15px;
   padding: 30px;
 }

 .serve{
   background:rgb(180, 180, 180);
   margin: 70px;
   padding: 70px;
 }

 .btn-0{
   background: #2e425e;
   color: aliceblue;
   display: flex;
   float: right;
 }
 .btn-01{
   background: rgb(58, 82, 163);
 }

 .feel{
   padding: 300px;
   margin: 20px;
   font-weight: 300;
   color: #073577;
   background: #073577;
  
 }